{{ if .Site.Params.widgets.rule34 }}
<div class="widget-wrap">
    <h3 class="widget-title">RULE 34 COMICS</h3>
    <div class="widget">
        <ul class="category-list">
            {{ range $name, $items := .Site.Taxonomies.rule34 }}
            <li class="category-list-item">
                {{ $url := printf "%s/%s" "rule34" ($name | urlize | lower)}}
                <a class="category-list-link" href="{{ $url | absURL }}">
                    {{ $name | humanize }}
                </a>
                <span class="category-list-count">{{ len $items }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
