{{ partial "head" . }}

<div id="container">
	{{ partialCached "header" . }}
   	
   	<div class="outer">
   	{{ if not .Params.disable_profile }}
    	{{ partialCached "profile" . }}
    {{ end }}

    <section id="main">
    {{ block "main" . }}{{ end }}
    </section>

   	{{ if not .Params.disable_widgets }}
    	{{ partial "sidebar" . }}
    {{ end }}
	</div>
</div>
{{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
<section id="comments">
    <div id="disqus_thread">
        {{ partial "disqus.html" . }}
    </div>
</section>
{{ end }}


{{ partialCached "footer" . }}
</body>
</html>
