{{ define "main" }}
<h1>{{ humanize .Title }}</h1>
<hr>
    <ul class="grid">
        {{ range .Data.Pages.ByTitle }}
        <a href="{{ .Permalink }}"><img src="{{.Params.thumb | absURL}}" alt="post-thumb"></a>
    </ul>
    {{ end }}

{{ end }}
