<nav id="article-nav">
{{ if and (gt .CurrentSection.Pages.Len 1) (ne .CurrentSection .FirstSection) }}
  {{ $firstInSection := index (first 1 .CurrentSection.Pages.ByTitle) 0 }}
  {{ $lastInSection := index (last 1 .CurrentSection.Pages.ByTitle) 0 }}
    <a href="{{ $firstInSection.RelPermalink }}" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption">
            << first
        </strong>
    </a>
    <a href="{{ $lastInSection.RelPermalink }}" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">
            last >>
        </strong>
    </a>
    {{ end }}
</nav>

