{{ $currentCategory := "" }}
{{ if .Params.categories }}
    {{ $currentCategory = .Params.categories }}
{{ else if .Params.illustrations }}
    {{ $currentCategory = .Params.illustrations }}
{{ else if .Params.rule34 }}
    {{ $currentCategory = .Params.rule34 }}
{{ end }}

{{ $next := .NextInSection }}
{{ $prev := .PrevInSection }}


{{ if and (or .PrevInSection .NextInSection) (not .Params.noprevnext) }}
<nav id="article-nav">

  {{ with $next }}
    {{ $nextCategory := "" }}
    {{ if .Params.categories }}
        {{ $nextCategory = .Params.categories }}
    {{ else if .Params.illustrations }}
        {{ $nextCategory = .Params.illustrations }}
    {{ else if .Params.rule34 }}
        {{ $nextCategory = .Params.rule34 }}
    {{ end }}
    {{ if eq $nextCategory $currentCategory  }}
    <a href="{{ .Permalink }}" id="article-nav-newer" class="article-nav-link-wrap">
      <strong class="article-nav-caption">
          {{with .Site.Data.l10n.articles.linked_posts.older}}{{.}}{{end}}
      </strong>
      <div class="article-nav-title">{{ .Title }}</div>
    </a>
    {{ else }}
    <nav id="article-nav-newer" class="article-nav-link-wrap">
      <div class="article-nav-title"></div>
    </nav>
  {{ end }}

  {{ else }}
    <nav id="article-nav-newer" class="article-nav-link-wrap">
      <div class="article-nav-title"></div>
    </nav>
  {{ end }}
  <a id="article-nav-title" class="article-nav-link-wrap">
    {{ .Title }}
  </a>
  <!--
  <h1 class="article-title" itemprop="name">
  </h1>
  -->
  {{ if .PrevInSection }}
    {{ with $prev }}
        {{ $prevCategory := "" }}
        {{ if .Params.categories }}
            {{ $prevCategory = .Params.categories }}
        {{ else if .Params.illustrations }}
            {{ $prevCategory = .Params.illustrations }}
        {{ else if .Params.rule34 }}
            {{ $prevCategory = .Params.rule34 }}
        {{ end }}
      {{/* only show previous link if it's under the same category */}}
      {{ if eq $prevCategory $currentCategory }}
      <a href="{{ .Permalink }}" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption">
            {{with .Site.Data.l10n.articles.linked_posts.newer}}{{.}}{{end}}
        </strong>
        <div class="article-nav-title">{{ .Title }}</div>
      </a>
      {{/* this and the next two instances are needed to keep everything aligned */}}
      {{ else }}
      <nav id="article-nav-newer" class="article-nav-link-wrap">
        <div class="article-nav-title"></div>
      </nav>
      {{ end }}
    {{ end }}

  {{ else }}
    <nav id="article-nav-newer" class="article-nav-link-wrap">
      <div class="article-nav-title"></div>
    </nav>
  {{ end }}

</nav>
{{ end }}
