<aside id="sidebar">
    {{ partial "widgets/recent_articles" . }}
    {{ partial "widgets/categories" . }}
    {{ partial "widgets/rule34" . }}
    {{ partial "widgets/illustrations" . }}
    {{ partial "widgets/tags" . }}
    {{ partial "widgets/tag_cloud" . }}

    <div id="toTop" class="fa fa-angle-up"></div>
</aside>
