<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-inner">
    {{ partial "first_last" . }}
      <div class="article-entry" itemprop="articleBody">
          {{ .Content }}
    {{ partial "prev_next_post" . }}
      </div>
      {{ partial "article_footer" . }}
    </div>

</article>

