{{ with .Site.Social.github }}
<td><a href="//github.com/{{.}}" target="_blank" title="GitHub"><i class="fa fa-github"></i></a></td>
{{ end }}

{{ with .Site.Social.gitlab }}
<td><a href="//gitlab.com/u/{{.}}" target="_blank" title="GitLab"><i class="fa fa-gitlab"></i></a></td>
{{ end }}

{{ with .Site.Social.bitbucket }}
<td><a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket"></i></a></td>
{{ end }}

{{ with .Site.Social.jsfiddle }}
<td><a href="//jsfiddle.net/user/{{.}}" target="_blank" title="JSFiddle"><i class="fa fa-jsfiddle"></i></a></td>
{{ end }}

{{ with .Site.Social.codepen }}
<td><a href="//codepen.io/{{.}}" target="_blank" title="CodePen"><i class="fa fa-codepen"></i></a></td>
{{ end }}

{{ with .Site.Social.foursquare }}
<td><a href="//foursquare.com/{{.}}" target="_blank" title="Foursquare"><i class="fa fa-foursquare"></i></a></td>
{{ end  }}

{{ with .Site.Social.dribbble }}
<td><a href="//dribbble.com/{{.}}" target="_blank" title="Dribbble"><i class="fa fa-dribbble"></i></a></td>
{{ end }}

{{ with .Site.Social.deviantart }}
<td><a href="//{{.}}.deviantart.com/" target="_blank" title="DeviantArt"><i class="fa fa-deviantart"></i></a></td>
{{ end }}

{{ with .Site.Social.behance }}
<td><a href="//behance.net/{{.}}" target="_blank" title="Behance"><i class="fa fa-behance"></i></a></td>
{{ end }}

{{ with .Site.Social.flickr }}
<td><a href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></td>
{{ end }}

{{ with .Site.Social.instagram }}
<td><a href="//instagram.com/{{.}}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></td>
{{ end }}

{{ with .Site.Social.youtube }}
<td><a href="//youtube.com/{{.}}" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></td>
{{ end }}

{{ with .Site.Social.vimeo }}
<td><a href="//vimeo.com/{{.}}" target="_blank" title="Vimeo"><i class="fa fa-vimeo"></i></a></td>
{{ end }}

{{ with .Site.Social.vine }}
<td><a href="//vine.co/{{.}}" target="_blank" title="Vine"><i class="fa fa-vine"></i></a></td>
{{ end }}

{{ with .Site.Social.medium}}
<td><a href="//medium.com/@{{.}}" target="_blank" title="Medium"><i class="fa fa-medium"></i></a></td>
{{ end }}

{{ with .Site.Social.wordpress }}
<td><a href="//{{.}}.wordpress.com" target="_blank" title="WordPress"><i class="fa fa-wordpress"></i></a></td>
{{ end }}

{{ with .Site.Social.tumblr }}
<td><a href="//{{.}}.tumblr.com" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a></td>
{{ end }}

{{ with .Site.Social.xing }}
<td><a href="//xing.com/profile/{{.}}" target="_blank" title="Xing"><i class="fa fa-xing"></i></a></td>
{{ end }}

{{ with .Site.Social.linkedin }}
<td><a href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></td>
{{ end }}

{{ with .Site.Social.slideshare }}
<td><a href="//slideshare.com/{{.}}" target="_blank" title="SlideShare"><i class="fa fa-slideshare"></i></a></td>
{{ end }}

{{ with .Site.Social.stackoverflow }}
<td><a href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stack Overflow"><i class="fa fa-stack-overflow"></i></a></td>
{{ end }}

{{ with .Site.Social.reddit }}
<td><a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit"><i class="fa fa-reddit"></i></a></td>
{{ end }}

{{ with .Site.Social.pinterest }}
<td><a href="//pinterest.com/{{.}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></td>
{{ end }}

{{ with .Site.Social.googleplus }}
<td><a href="//plus.google.com/+{{.}}" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></td>
{{ end }}

{{ with .Site.Social.facebook }}
<td><a href="//facebook.com/{{.}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></td>
{{ end }}

{{ with .Site.Social.twitter }}
<td><a href="//twitter.com/{{.}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></td>
{{ end }}

{{ with .Site.Social.discord }}
<td><a href="//discord.gg/{{.}}" target="_blank" title="Discord"><i class="fa fa-discord"></i></a></td>
{{ end }}
